//$fa-var-chevron-down: "\f078";
//$fa-var-chevron-left: "\f053";
//$fa-var-chevron-right: "\f054";
//$fa-var-chevron-up: "\f077";

.panel-heading {
	.panel-toggle {
		@include clearfix;
		h4 {float:left}
		i.fa {
			float:right;
			&:before {content:"\f077"}
		}
		&.collapsed i.fa:before {content:"\f078"}
	}
}
