// Convert px to em
@function pxtoem($target, $context){
	@return ($target/$context)+0em;
}

// Convert em to px
@function emtopx($target, $context){
	@return ($target*$context)+0px;
}

// Determin appropriate contrasting text color
@function contrast-color($color) {
	@if (lightness($color) > 75) {
		// Lighter backgorund, return dark color
		@return $brand-text-dark;
	} @else {
		// Darker background, return light color
		@return $brand-text-light;
	}
}



